/** {
  border:1px solid rebeccapurple;
}*/

.player-card {
  display: inline-block;
  border: 1px solid gray;
  align-content: center;
  width: 230px;
  padding: 10px;
  margin: 5px;
}

.player-card p {
  text-align: center;
}

.player-card button {
  margin-top: -10;
  padding: 5px;
}

.inline {
  display: inline-block;
}

.add-player {
  margin-top: 2em;
}

.add-player-body {
  width: 100%;
}