<!DOCTYPE html ng>
<html lang="en" ng-app="myRoster">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Document</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="styles/app.css">
</head>

<body>
  <div class="container-fluid" ng-controller="RosterController">
    <div class="panel panel-default roster">
      <div class="panel-heading">My NFL Roster</div>
      <div class="panel-body inline">

        <div class="player-card" ng-repeat="player in players">
          <button type="button" class="btn btn-danger center-block" ng-click="removePlayer($index)">Remove</button>
          <img src="http://s.nflcdn.com/static/content/public/image/fantasy/transparent/200x200/">
          <p>Name: {{player.name}}</p>
          <p>Position: {{player.position}}</p>
          <p>Number: {{player.number}}</p>
        </div>
        
        <!-- FORM -->
        <div class="panel panel-primary add-player">
          <div class="panel-heading"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Add Player</div>
          <div class="panel-body add-player-body">
            
            <form ng-submit="addPlayer()">
              
              <div class="form-group">
                <label for="playerName">Player Name</label>
                <input type="text" class="form-control" id="playerName" placeholder="Player Name" ng-model="playerName">
              </div>
              
              <div class="form-group">
                <label for="playerPosition">Player Position</label>
                <input type="text" class="form-control" id="playerPosition" placeholder="Player Position" ng-model="playerPosition">
              </div>
              
              <div class="form-group">
                <label for="playerNumber">Player Number</label>
                <input type="number" class="form-control" id="playerNumber" placeholder="Player Number" ng-model="playerNumber">
              </div>              
              <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Add Player</div></button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- lib -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <!-- app -->
  <script src="app/app.js"></script>
  <script src="app/controller/controller.js"></script>
</body>

</html>